<div class="container">
  <div >
    <div >
      <div class="width-header">
        <div class="image_background">
          <h1 class ="title" >{{ title }}</h1>
          <ul >
            <li class="list-inline-item"><a routerLink="/book" class="btn btn-info">Home</a></li>
            <li class="list-inline-item"><a routerLink="/book" class="btn btn-info">List Books</a></li>
            <li class="list-inline-item"><a routerLink="/member" class="btn btn-info">List Member</a></li>
            <li class="list-inline-item"><a routerLink="/info" class="btn btn-info">Borow Infor</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
