.alert{
  position: relative;
    padding: 0.5px 1.5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger {
  color: #c73049;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.form-group{
  margin: 0 0 10px 0;
}
.radio-inline{
  width: 10%;
}
input:invalid{
  color:red;
 }

 input:valid{
  color:green;
 }
