.btn-info{
  background-color: #3b8fd9 ;
  border-color: #3b8fd9;
}
.btn-info:hover{
  background-color: #7cdff2;
}

.btn-info1{
  background-color: #e3c624  ;
  border-color:#f0da62 ;
}
.btn-info1:hover{
  background-color:#f0da62 ;
}

.btn-info2{
  background-color:   #f7344e;
  border-color: #f26376;
}
.btn-info2:hover{
  background-color: #f26376;
}

.btn-info0{
  background-color:  #1c9c51 ;
  border-color: #24d46d ;
}
.btn-info0:hover{
  background-color: #24d46d ;
}
.list-inline-item{
  float: left;
}

.item1{
  float: right;
}
.btn-info4{
  background-color: white ;
  text-align: center;
  color: #17a2b8;
  border-radius: 5px;
  border: 2px solid #17a2b8;
  width: 60px;
  margin-right: 5px;
}
